<div class="row mb-3">

    <!-- Search box -->
    <div class="col-md-4">
        <label>Search Employee by Name:</label>
        <input type="text" class="form-control" />
    </div>

    <!-- Search button -->
    <div class="col-md-2 d-flex align-items-end">
        <button class="btn btn-primary w-100">Search</button>
    </div>

    <!-- Department dropdown -->
    <div class="col-md-4">
        <label>Filter by Department:</label>
        <select class="form-select">
            <option value="-1">-- All Departments --</option>
            <!-- add a foreach loop here to add authors to the dropdown -->
        </select>
    </div>
</div>

<!-- Employees table -->
<table class="table table-striped">
    <thead>
        <tr>
            <th>Employee Id</th>
            <th>Name</th>
            <th>Job Title</th>
            <th>Department</th>
        </tr>
    </thead>
    <tbody>
        <!-- add a foreach loop here to add books to the table -->
    </tbody>
</table>
