<div class="row mb-3">

    <!-- Search box -->
    <div class="col-md-4">
        <label>Search Book by Title:</label>
        <input class="form-control" />
    </div>

    <!-- Search button -->
    <div class="col-md-2 d-flex align-items-end">
        <button class="btn btn-primary w-100">Search</button>
    </div>

    <!-- Author dropdown -->
    <div class="col-md-4">
        <label>Filter by Author:</label>
        <select class="form-select">
            <option value="-1">-- All Authors --</option>
            <!-- add a foreach loop here to add authors to the dropdown -->
        </select>
    </div>
</div>

<!-- Books table -->
<table class="table table-striped">
    <thead>
        <tr>
            <th>Book Id</th>
            <th>Title</th>
            <th>Price</th>
            <th>Author</th>
        </tr>
    </thead>
    <tbody>
        <!-- add a foreach loop here to add books to the table -->
    </tbody>
</table>
